[Unit]
Description=Deployify auto update service
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/var/lib/deployify/scripts/auto_updater.sh
WorkingDirectory=/var/lib/deployify/scripts
User=root

[Install]
WantedBy=multi-user.target